# Firebase Service Account credentials
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_DATABASE_URL=

PAYU_KEY=gtKFFx
PAYU_SALT=eCwWELxi
PAYU_TEST_URL=https://test.payu.in/_payment
WEBHOOK_SECRET=

# Server
PORT=3000

JWT_SECRET=